<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>DEMO CHAT</title>

        <script src="jquery.js"></script>
        <script src="https://cuongdinh.herokuapp.com/socket.io/socket.io.js"></script>
        <script src="execute.js"></script>
        <link rel="stylesheet" type="text/css" href="layout.css"/>
    </head>

    <body>
        <div id="wrapper">
            <!-- Login Form-->
            <div id="loginForm">
                <h3>What's your name?</h3>
                <input type="text" placeholder="Enter username" id="txtUsername"/>
                <input type="button" value="Register" id="btnRegister"/>
            </div>

            <!-- Create ChatRoom-->
            <div id="createRoom">
                <input type="text" id="txtRoomID" placeholder="Enter Room ID"/>
                <input type="button" id="btbJoin" value="Join"/>
                <div id="boxRoomTitle">Danh sach room</div>
                <div id="boxListRoom"></div>
            </div>

            <!-- Create Chat Form-->
            <div id="chatForm">
                <div id="leftCF">
                    <div id="yourRoom">
                        Room <span id="currentRoom"></span>
                        <input type="button" id="btnLeaveRoom" value="Leave Room"/>
                    </div>
                    <div id="boxTitle">User Online</div>
                    <div id="boxContent"></div>
                </div>

                <div id="rightCF">
                    <div id="yourName">
                        Hello <span id="currentUser"></span>
                        <input type="button" id="btnLogout" value="Log out"/>
                    </div>

                    <div id="listMessages"> </div>
                    <div id="whoIsTyping"></div>
                    <input type="text" id="txtMessage"/>
                    <input type="button" value="Send" id="btnSend"/>
                </div>
            </div>
        </div>
    </body>
</html>